* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #15151e;

    color: white;
}

.top-menu .logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.top-menu {
    background-color: #e10600;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.top-menu ul {
    list-style: none;

    display: flex;

    gap: 20px;

}

.top-menu .imagen{
    width: 70px;
    height: 70px;
    justify-content: center;
   
    
}

.top-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.top-menu a:hover {
    opacity: 0.8;
}



.auth-wrapper {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15151e;
}

.login-box {
    background-color: #1f1f2b;
    padding: 40px;
    width: 100%;
    max-width: 450px;

    border-radius: 8px;
    border: 1px solid #333;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.login-box h2 {
    margin-bottom: 0.5rem;
    color: #e10600;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #ccc;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2b2b36;
    color: white;
}

.btn-confirm {
    width: 100%;
    padding: 14px;
    background-color: #e10600;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.3s;
}

.btn-confirm:hover {
    background-color: #b30500;
}

.register-link {
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

.register-link a {
    color: #e10600;
    text-decoration: none;
}


.radio_group {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    justify-content: center;
}

.radio_group label {
    min-width: 150px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 15px;
    cursor: pointer;

}

.radio_group label:hover {
    border-color: #666;
    color: #fff;
}

.radio_group input:checked+.radio_label {
    background-color: #e10600;

    border-color: #e10600;
    color: #fff;
    box-shadow: 0 0 15px rgba(225, 6, 0, 0.5);

}

.radio_group input {
    display: none;
}